<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>List of books</h1>
            <a href="/">Book Store</a>
            <a href="/books/new"><button>Add book</button></a>
        </div>
    </header>
    <main>
        <div >
            <% books.forEach(book => { %>
                <div class="book">
                    <h1><%= book.title %></h1>
                    <h2><%= book.author %></h2>
                    <p><%= book.description %></p>
                    <span><%= book.price %></span>
                    <a href="/books/<%= book._id %>">
                        <button>Show Me</button>
                    </a>
                </div>
                
            <% }) %>
            
        </div>
    </main>
</body>
</html>